@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #18181b;
	color: #e4e4e7;
}

.title-bar {
	user-select: none;
	-webkit-user-select: none;
}

.scrollbar-none {
	scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
	display: none;
}
